bin/
target/
rpmbuild-root/
out/
build/

.classpath
.project
.git/
.settings/

*.class
*.iml
*.idea
*.jar
*.rpm
*.war
*.ear
*.zip
*.exe
*.lock
*.out
*.swp
.*.swp
*~

.htaccess
config.php
/psmcore/static/
/data/
/www/psmcore/pxdb/phppdo

